.blog-post-container{
    /* background-color: antiquewhite; */
    /* width: 90vw; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    justify-content: center;
}