.nav-bar{
    display: flex;
    top: 0px;
    position: fixed;
    font-size: var(--button-size);
    letter-spacing: var(--button-letter-spacing);
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    width: 100vw;
    z-index:100;
    height: 60px;
    padding: 0 60px;
    /* border-radius: 50px; */
    border-bottom: 1px solid #ebebeb;
    /* transition: background-color 300ms ease-in-out; */
    background-color: #fff
}

.logo{
    font-size: 33px;
    letter-spacing: 0.25px;
    font-weight: 900;
    /* mix-blend-mode: difference; */
}
.nav-items{
    display: flex;
    list-style: none;
}



.item>a{
    margin: 5px;
    /* background-color: antiquewhite; */
    padding: 12px;
    cursor: pointer;
    /* border-radius: 10px; */
    font-weight: 500;
    text-decoration: none   ;
    color: var(--grey);
}

.item:hover>a{
    /* background-color: var(--black); */
    color: var(--black);
}



input:active{
    background-color: var(--black);
    color: var(--wheat);
}
/* 
#login{
    background-color: var(--black);
    color: var(--wheat);
} */

/* > */