/* WriteBlog.css */

.write {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    /* background-color: #f0f0f0; */
  }
  
  /* h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  } */
  
  .title {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    /* border-bottom: 100% solid #555; */
    background: transparent;
    outline: none;  
  }
  
  .blogPostContainer {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .layout-list{
    display: flex;
    flex-direction: column;
  }
  
  .layout-item{
    font-size: 18px;
    padding: 12px;
    margin-bottom: 5px;
    background: #f0f0f0;
    border-radius: 4px;
    cursor: grab;
    width: 250px;
  }
  