.img-text-layout{
    display: flex;
    width: 100%;
    height: min-content;
    
    
    /* height: 400px; */
    /* background-color: aqua; */
    /* gap: 20px; */
    color: var(--black);
    font-size: 2rem;
}

.img-text-layout img{
    /* display: flex; */
    flex: 1;
    object-fit: cover;
    height: 90%;
    /* width: 90%; */
    border-radius: 20px;
}

.text-zone{
    /* display: flex; */
    flex: 1;
    /* height: 400px; */
}