.editor-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.editor-options-button{
    background-color: rgb(30,48,80);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1); */
}

.editor-edit-container{
    width: 90%; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
}
.editor-edit-container> img{
    object-fit: fill;    
    width: 35%;
    flex: 1;
}

.editor-edit-container>.text-zone{
    /* width: 50%; */
    flex: 2;
}

.ql-container {
    /* font-size: 20px !important; */
    font-size: 18px !important;
    line-height: 1.58;
    letter-spacing: 0.05em;
    word-spacing: 0.2em;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

/* .ql-editor{
    font-size: 18px !important;
    line-height: 1.58;
    letter-spacing: -.004em;
    font-weight: 100;
} */
