:root {
  --black: #1c1c1c;
  --wheat: #f5deb3;

  --button-size: 14px;
  --button-letter-spacing:1.25px;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  align-content: center;
  height: 100vh;
  color: var(--wheat);
  /* background: #000; */
}

.welcome{
  color: var(--wheat);
  max-width: 50vw;
  /* min-height: 100vh; */
  margin-top: 70vh;
  mix-blend-mode: difference;
  /* background-color: aqua; */
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}


