:root {
  --black: #1c1c1c;
  --wheat: #f5deb3;

  --button-size: 14px;
  --button-letter-spacing:1.25px;
}

.App {
  /* overflow-y: hidden; */
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  width: 100vw;
  align-items: center;
  align-content: center;
  height: 100vh;
  color: var(--wheat);
  /* color: #f5deb3; */
  /* background: #000; */
}

.welcome{
  /* background-color: rgba(0, 255, 255, 0.175); */
  color: var(--wheat);
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  mix-blend-mode: difference;
  margin: auto;
}

#content-div{
  width: 100%;
}


